<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
</head>
<body>
	<div class="mainmenudiv">
		<div class="mainmenudiv1 mainmenu">
			<img src="./public/Image/menu.png">
		</div>
		<div class="mainmenudiv1 mainmenu">
			<a href=""><p>Registration</p></a>
			<a href=""><p>Registration</p></a>
		</div>
	</div>
</body>
</html>